* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
  }


html {
    font-family: "Montserrat", sans-serif;
    min-height: 100%;
    position:relative;
  }


body {
    background:#eee;
    padding:0 16px;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");

  }


header{
    background-color:#f5ba13;
    margin:auto -16px;
    padding:16px 32px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    
}


header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }

footer{
    position:absolute;
    text-align: center;
    bottom:0;
    height:2.5rem;
    width:100%;
    padding-top: 20px;;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }

footer p{
    color: #ccc;
}

.notes{
    background:#fff;
    padding:10px;
    border-radius:7px;
    margin:16px;
    margin-left: 20px;
    width:300px;
    height: 180px;
    box-shadow: 0 2px 5px #ccc;
    margin-bottom: 40px;
    float: left;
    overflow-y:auto;
    
}

.notes h1{
    font-size:1.1em;
    margin-bottom:6px;
    overflow:hidden;
}



.notes button{
    position: relative;
    margin-right:10px;
    float:right;
    border:none;
    outline:none;
    background: rgb(255, 255, 255);
    color:#f5ba13;
    width: 36px;
    height: 36px;
    cursor:pointer;
}

form.createNote{
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.createNote input,
form.createNote textarea{width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  width: 100%;
  overflow:visible;
}

form.createNote button{
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border-radius: 50%;
  border:none;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor:pointer;
  outline: none;
}

